<div class="container">
<form action="/suaProduct" method="POST">

    <div class="form-group">
        <label for="exampleInputEmail1">ID</label>
        <input type="text" value="{{data.idDel1}}" name="_id" class="form-control" id="exampleInputEmail1"
            placeholder="Id" readonly>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" value="{{data.ten_sp}}" name="ten_sp" class="form-control" id="exampleInputEmail1"
            placeholder="Product Name" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product ID</label>
        <input type="text" value="{{data.ma_sp}}" name="ma_sp" class="form-control" id="exampleInputEmail1"
            placeholder="Product ID" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Price</label>
        <input type="text" value="{{data.don_gia}}" name="don_gia" class="form-control" id="exampleInputEmail1"
            placeholder="Price" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Picture</label>
        <input type="text" value="{{data.hinh_anh}}" name="hinh_anh" class="form-control" id="exampleInputEmail1"
        placeholder="Picture"  >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input type="text" value="{{data.mo_ta}}" name="mo_ta" class="form-control" id="exampleInputEmail1"
            placeholder="Description" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Quantity</label>
        <input type="text" value="{{data.so_luong}}" name="so_luong" class="form-control" id="exampleInputEmail1"
               placeholder="Quantity" >
    </div>

    <input style="margin-left: 300px ; margin-bottom: 20px" type="submit" value="Edit Product"  class="btn btn-primary" name="c">
</form>
</div>

<style>
    .container{
        width: 60%;
        float: left;
        margin-top: 30px;
        background-color: #4CAF50;
    }
</style>